---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Camilo Paez</h1>
      <h2 class="text-base dark:text-white">
        Bogota, Colombia
      </h2>
      <h3 class="text-base dark:text-white">
        <a
          href="tel:+57 300 773 2450"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >+57 300 773 2450
        </a>
        |
        <a
          href="mailto:camilopaez.dev@gmail.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >camilopaez.dev@gmail.com</a
        >
      </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description=""
        name="02/2022 - Today"
        title="Computer Systems Engineering"
        subTitle="Universidad Nacional de Colombia"
      />

      <RowEntry
        description=""
        name=""
        title="Full Stack Developer with JavaScript"
        subTitle="Platzi"
      />

      <RowEntry
        description=""
        name=""
        title="Frontend with ReactJS"
        subTitle="Platzi"
      />

      <RowEntry
        description=""
        name=""
        title="M001: Mongo Basics"
        subTitle="MongoDB. University"
      />
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        description="Started working as a halftime frontend developer. After some time I got more and more into backend development as well in automatization scripts made with nodejs and/or python."
        name="03/2022 - 06/2023"
        title="Full stack developer - Sello Digital"
        subTitle="Bogota"
      />

      <RowEntry
        description="I've extended my knowledge in frontend development by developing an internal tool for the management of their customer loyalty program with react, express and mongodb, while mantain a Wordpress store."
        name="10/2021 - 02/2022"
        title="Frontend developer - ShaapStore"
        subTitle="Ibagué"
      />

      <RowEntry
        description="Some first steps a frontend developer using some basic HTML, CSS and JavaScript. I've developed some smaller applications."
        name="10/2020 - 10/2021"
        title="Frontend developer (Freelance)"
        subTitle="Ibagué"
      />
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and interests" />

      <RowEntry description="Spanish, English" name="Languages" />

      <RowEntry
        description="React, Angular, Kotlin"
        name="Technologies"
      />

      <RowEntry
        description="Cinema"
        name="Interests"
      />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://www.github.com/camilopaezz" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/camilopaezz" />
      </div>
      <!-- <div class="mr-4">
        <SocialIcon icon="fa-brands:dev" label="dev" url="https://www.dev.to/" />
      </div> -->
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://camilopaezz.me" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
